<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>超市管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市管理系统</h1>

    <div class="publicHeaderR">
        <p><span id="hours">下午好！</span><span style="color: #fff21b" th:text="${session.ADMIN_IN_SESSION.getNickname()}"> Admin</span> , 欢迎你！</p>
        <a href="/logout">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/order/list">订单管理</a></li>
                <li ><a href="/supplier/list">供应商管理</a></li>
                <li id="active"><a href="/customer/list">顾客管理</a></li>
                <li><a href="/pwd">密码修改</a></li>
                <li><a href="/systemLog/list">日志管理</a></li>
                <li><a href="/category/list">商品分类管理</a> </li>
                <li><a href="/product/list">商品管理</a></li>
                <li><a href="/logout">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>顾客管理页面 >> 顾客添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/customer/add" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="name">顾客姓名：</label>
                    <input type="text" name="name" id="name" required/>
                </div>
                <div>
                    <label for="phone">顾客电话：</label>
                    <input type="password" name="phone" id="phone" required/>
                </div>
                <div>
                    <label for="address">顾客地址：</label>
                    <input type="text" name="address" id="address" required/>
                </div>

                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="customerList.html">返回</a>-->
                    <input type="submit" value="保存" style="line-height: 15px;"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="js/time.js"></script>

</body>
</html>