<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>超市管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市管理系统</h1>

    <div class="publicHeaderR">
        <p><span id="hours">下午好！</span><span style="color: #fff21b" th:text="${session.ADMIN_IN_SESSION.getNickname()}"> Admin</span> , 欢迎你！</p>
        <a href="/logout">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li id="active"><a href="/order/list">订单管理</a></li>
                <li><a href="/supplier/list">供应商管理</a></li>
                <li><a href="/customer/list">顾客管理</a></li>
                <li><a href="/pwd">密码修改</a></li>
                <li><a href="/systemLog/list">日志管理</a></li>
                <li><a href="/logout">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>管理页面 >> 信息查看</span>
        </div>
        <div class="providerView">
            <p><strong>订单编号：</strong><span th:text="${one.order_sn}">231</span></p>
            <p><strong>创建时间：</strong><span th:text="${#dates.format(one.create_time, 'yyyy/MM/dd HH:mm')}">123</span></p>
            <p><strong>实际价格：</strong><span th:text="${one.total_price}">北极</span></p>
<!--            <p><strong>支付状态：</strong><span th:text="${one.state}">22</span></p>-->
            <p>
                <strong>支付状态：</strong>
                <span th:text="${one.state}=='1'?'已完成':(${one.state}=='0'?'待支付':'已取消')">22</span>
            </p>
            <p><strong>顾客：</strong><span th:text="${one.customer}">22</span></p>


            <a href="/order/list">返回</a>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<script src="js/time.js"></script>

</body>
</html>