<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>超市管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>超市管理系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours">下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
            <a href="/logout">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li ><a href="/order/list">订单管理</a></li>
                    <li><a href="/supplier/list">供应商管理</a></li>
                    <li><a href="/customer/list">顾客管理</a></li>
                    <li id="active"><a href="/pwd">密码修改</a></li>
                    <li><a href="/systemLog/list">日志管理</a></li>
                    <li><a href="/category/list">商品分类管理</a> </li>
                    <li><a href="/product/list">商品管理</a></li>
                    <li><a href="/logout">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>密码修改页面</span>
            </div>
            <div class="providerAdd">
                <form action="/updatePwd" method="post">
                    <!--div的class 为error是验证错误，ok是验证成功-->
                    <input type="hidden" name="id" th:value="${session.ADMIN_IN_SESSION.getId()}"/>
                    <div class="">
                        <label for="oldPassword">旧密码：</label>
                        <input type="password" name="oldPassword" id="oldPassword" th:data-old="${session.ADMIN_IN_SESSION.password}" onblur="async()" required/>
                        <span id="wrongInfo"
                              th:text="${wrong_pass != null ? wrong_pass : '*请输入原始密码'}"
                              th:style="${wrong_pass != null ? 'color: red' : ''}">*请输入原始密码</span>
                    </div>
                    <div>
                        <label for="newPassword">新密码：</label>
                        <input type="password" name="newPassword" id="newPassword" onblur="isBlank()" required/>
                        <span id="blankEarn" >*请输入新密码</span>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password" name="password" id="reNewPassword" onblur="isSamePassword(1)" required/>
                        <span id="unSame"
                              th:text="${un_same != null ? un_same : '*请输入新确认密码，保证和新密码一致'}"
                              th:style="${un_same != null ? 'color: red' : ''}">*请输入新确认密码，保证和新密码一致</span>
                    </div>
                    <div class="providerAddBtn">
                        <input type="submit" value="保存" style="padding: initial"/>
                        <input id="back" type="button" value="返回"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
<footer class="footer">
</footer>
<script src="js/jquery.js"></script>
<script src="js/time.js"></script>
<script type="text/javascript">

    $(function () {
        $("#back").click(function () {
            location.href = "sys/index";
        })
    })

    // 检查密码是否正确
    function async() {
        // 提示span
        const tag = $("#wrongInfo");
        // 输入内容和session中的值对比
        if ($("#oldPassword").val() != [[${session.ADMIN_IN_SESSION.password}]]) {
            tag.text("❌原始密码不正确！").css("color", "red");
        } else {
            tag.text("✔️︎").css("color", "green");
        }
    }

    // 验证新密码的有效性
    function isBlank() {
        // 获取提示span
        const tag = $("#blankEarn");
        // 获取输入的新密码
        const pass = $("#newPassword").val();
        // 获取再次输入的新密码
        const rePass = $("#reNewPassword").val();
        // 输入新密码不为空则通过
        if (pass === '') {
            tag.text("❌不能为空！").css("color", "red");
        } else {
            tag.text("✔️︎").css("color", "green");
        }
        // 如果再次输入密码内容不为空，则需要更新密码一致检查的span
        if (rePass !== '') {
            checkPassword($("#unSame"), pass, rePass);
        }
    }

    // 验证密码一致性:
    function isSamePassword() {
        // 获取提示span
        const tag = $("#unSame");
        // 获取输入的新密码
        const pass = $("#newPassword").val();
        // 获取再次输入的新密码
        const rePass = $("#reNewPassword").val();
        // 输入应非空，非空时验证密码一致性
        if (rePass === '') {
            tag.text("❌不能为空！").css("color", "red");
        } else if (pass !== '' && rePass !== '') {
            // 检查是否一致并更新提示
            checkPassword(tag, pass, rePass);
        }
    }

    // 检查密码是否一致
    function checkPassword(tag, pass, rePass) {
        if (pass !== rePass) {
            tag.text("❌两次密码不一致！").css("color", "red");
        } else {
            tag.text("✔️︎");
        }
    }

</script>
</body>
</html>