<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>超市管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市管理系统</h1>

    <div class="publicHeaderR">
        <p><span id="hours">下午好！</span><span style="color: #fff21b" th:text="${session.ADMIN_IN_SESSION.getNickname()}"> Admin</span> , 欢迎你！</p>
        <a href="/logout">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/order/list">订单管理</a></li>
                <li><a href="/supplier/list">供应商管理</a></li>
                <li><a href="/customer/list">顾客管理</a></li>
                <li><a href="/pwd">密码修改</a></li>
                <li><a href="/systemLog/list">日志管理</a></li>
                <li><a href="/category/list">商品分类管理</a></li>
                <li id="active"><a href="/product/list">商品管理</a></li>
                <li><a href="/logout">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>商品管理页面 >> 商品修改页面</span>
        </div>
        <div class="providerAdd">
            <form action="/product/update" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <input type="hidden" name="id" th:value="${one.id}"/>
                <div class="">
                    <label for="code">商品编码：</label>
                    <input type="text" name="code" id="code" th:value="${one.code}" required/>
                    <span>*</span>
                </div>
                <div>
                    <label for="name">商品名称：</label>
                    <input type="text" name="name" id="name" th:value="${one.name}" required/>
                    <span >*</span>
                </div>
                <div>
                    <label for="price">商品价格：</label>
                    <input type="text" name="price" id="price" th:value="${one.price}" required/>
                    <span >*</span>
                </div>
                <div>
                    <label for="stock">商品库存：</label>
                    <input type="text" name="stock" id="stock" th:value="${one.stock}" required/>
                    <span >*</span>
                </div>
                <div>
                    <label>商品分类：</label>
                    <select name="category_id" th:value="${one.category_id}">
                        <option th:each="c:${cList}" th:value="${c.id}" th:text="${c.name}"
                                th:selected="${one.category_id==c.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label>商品供应商：</label>
                    <select name="supplier_id" th:value="${one.supplier_id}">
                        <option th:each="s:${sList}" th:value="${s.id}" th:text="${s.name}"
                                th:selected="${one.supplier_id==s.id}">
                        </option>
                    </select>
                </div>

                <div>
                    <label for="desc">商品名称：</label>
                    <input type="text" name="desc" id="desc" th:value="${one.desc}" required/>
                    <span >*</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="orderList.html">返回</a>-->
                    <input type="submit" value="保存" style="line-height: 15px;"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="js/time.js"></script>

</body>
</html>