<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义mapper接口路径 -->
<mapper namespace="com.jxh.mapper.CustomerMapper">
    <!--id的值保证Mapper接口的方法名一值-->

<!--    List<Customer> getCustomerList();-->
    <select id="getCustomerList" resultType="customer" parameterType="java.lang.String">
        select *
        from t_customer
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>;
    </select>
<!--    Customer findCustomerById(Long id);-->
    <select id="findCustomerById" resultType="customer">
        select *
        from t_customer
        where id=#{id};
    </select>
<!--    void addCustomer(Customer customer);-->
    <insert id="addCustomer">
        insert into t_customer (name, phone, address, create_time)
        values (#{name},#{phone},#{address},#{create_time});
    </insert>
<!--    void updateCustomer(Customer customer);-->
    <update id="updateCustomer">
        update t_customer
        set name=#{name},phone=#{phone},address=#{address},update_time=#{update_time}
        where id=#{id};
    </update>
<!--    void deleteCustomer(Long id);-->
    <delete id="deleteCustomer">
        delete
        from t_customer
        where id=#{id};
    </delete>
</mapper>
